<ul>
  <% if ::Refinery::Videos::Admin::RawVideosController.searchable? %>
    <li>
      <%= render :partial => "/refinery/admin/search",
                  :locals => {
                    :url => refinery.videos_admin_raw_videos_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_videos_admin_raw_video_path, :class => "add_icon" %>
  </li>
  <li>
    <%= link_to t('.resque'), "/resque", :class => "go_icon" %>
  </li>
</ul>